<h1>Listing item_features</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Hidden</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @item_features.each do |item_feature| %>
  <tr>
    <td><%= item_feature.name %></td>
    <td><%= item_feature.hidden %></td>
    <td><%= link_to 'Show', item_feature %></td>
    <td><%= link_to 'Edit', edit_item_feature_path(item_feature) %></td>
    <td><%= link_to 'Destroy', item_feature, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item feature', new_item_feature_path %>
